.cart-wrapper {
  min-height: 565px;
  max-height: 565px;
  min-width: 719px;
  max-width: 1015px;
  margin: 5rem 3rem 5rem 3rem;
}

.left-cart-content {
  min-width: 50%;
  min-height: 100%;
}

.right-cart-content {
  min-width: 50%;
  min-height: 100%;
}
