/* src/styles/main.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body,
html,
#root {
  margin: 0;
  padding: 0;
}

/* Header  */

.li-header {
  @apply text-black/60 dark:text-white border-b-4 pt-12 pb-12 border-double border-transparent hover:text-orange-500 hover:border-orange-500 transition duration-300 cursor-pointer;
}

header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

/* Initial state of the mobile menu icon */

.mobile-menu-icon {
  display: none;
}

@media (min-width: 1024px) {
  .div-mobile-menu {
    display: none;
  }
}

@media (max-width: 1024px) {
  .header-nav-items {
    display: none;
  }

  .mobile-menu-icon {
    display: block;
    cursor: pointer;
  }

  .theme-cart-profile {
    justify-content: flex-end;
  }

  .div-mobile-menu {
    height: 100px;
  }

  .modal {
    top: 90%;
    left: 1rem;
  }
}

/* Product description */

.cart-wrapper {
  max-height: 565px;
  max-width: 1015px;
  margin: 5rem 3rem 5rem 3rem;
}

.left-cart-content,
.right-cart-content {
  min-width: 50%;
  min-height: 50%;
}

@media (max-width: 1024px) {
  .cart-wrapper {
    flex-direction: column;
    margin: 2rem 2rem;
  }
  .left-cart-content,
  .right-cart-content {
    min-width: 100%;
    min-height: auto;
  }
}

.article-promo {
  max-height: 27px;
  min-width: 51px;
}

/* Modal size */

.modal-wrapper {
  width: 360px;
  height: 256px;
}

/* Error page */

.error-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ff6f61;
  min-height: 100vh;
}

.error-title {
  font-size: 3rem;
  color: #e91e63;
  animation: bounce 1s infinite;
}

.error-message {
  margin-top: 1rem;
  font-size: 1.5rem;
}

.return-home {
  margin-top: 2rem;
  font-size: 1rem;
}

.home-link {
  margin-top: 2rem;
  animation: spin 2s infinite linear;
}

.home-logo {
  border-radius: 50%;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
