/* src/styles/main.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  margin: 0 6rem 0 6rem;
  max-width: 1440px;
  min-width: 815px;
  max-height: 900px;
  display: flex;
  justify-content: center;
}
