/* src/styles/main.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  margin: 5rem 10rem 5rem 10rem;
  min-height: 100vh;
  overflow: auto;
}
